<div class="card">
  <form (ngSubmit)="searchBook()" *ngIf="visible">
    <div class="card-header">Search Book</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td><label>Book Title</label></td>
              <td>
                <input
                  type="text"
                  name="b_title"
                  [(ngModel)]="bookItem.title"
                />
              </td>
            </tr>
            <tr>
              <td><label>Author</label></td>
              <td>
                <input
                  type="text"
                  name="b_author"
                  [(ngModel)]="bookItem.author"
                />
              </td>
            </tr>
            <tr>
              <td><label>Category</label></td>
              <td>
                <input
                  type="text"
                  name="b_url"
                  [(ngModel)]="bookItem.category"
                />
              </td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Search" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>

<div *ngIf="searchvisible">
  <div class="card">
    <div class="card-header">
      {{ pageTitle }}
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" *ngIf="books && books.length">
        <thead>
          <tr>
            <th>Book Image</th>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>About</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td>
              <img
                [src]="book.imageUrl"
                [title]="book.title"
                [style.width.px]="imageWidth"
                [style.margin.px]="imageMargin"
              />
            </td>
            <td>{{ book.bookId }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.about }}</td>
            <td>
              <button
                class="btn btn-warning"
                style="cursor: pointer"
                (click)="requestBook(book)"
                style="margin-left: 20px"
              >
                Request
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
